/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f7f7f7;
}

.container {
  padding: 20px;
  max-width: 800px;
  margin: auto;
  background: white;
}

.post-preview {
  margin-bottom: 20px;
}

a {
  color: #007bff;
  text-decoration: none;
}*/

.margin-right-ten {
  margin-right: 10px;
}

.reset-link {
  color: #28a745 !important; /* Bright green */
  font-weight: bold;
}

.reset-link:hover {
  color: #218838 !important; /* Darker green on hover */
  text-decoration: underline;
}

.b-example-divider {
  width: 100%;
  height: 3rem;
  background-color: #0000001a;
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em #0000001a, inset 0 0.125em 0.5em #00000026;
}

.margin-left-ten {
  margin-left: 150px;
}

.admin-sidebar > ul > li > a {
  color: rgb(48, 44, 44);
}

.admin-sidebar > ul > li > a:hover {
  color: rgb(250, 244, 244);
}

.admin-sidebar > ul > li :hover {
  background-color: #9d9a95 !important; /* Darker green on hover */
}

.no {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}
.no > h1 {
  font-size: 6rem;
  margin: 0;
}
.no > p {
  font-size: 1.5rem;
  margin: 1rem 0;
}
.no > a {
  text-decoration: none;
  color: #0078d7;
  font-weight: bold;
}
.no > a:hover {
  text-decoration: underline;
}

.client-sidebar > li > a {
  color: rgb(33, 32, 35);
  text-decoration: none;
  font-weight: bold;
}

.client-sidebar > li > a:hover {
  color: rgb(59, 40, 184);
  text-decoration: underline;
}

.post-detail {
  margin: 20px;
}

.post-image {
  float: left; /* 👈 image top-left */
  width: 120px; /* adjust size */
  margin-right: 15px; /* space between image and text */
  margin-bottom: 10px;
  border-radius: 6px;
}

.post-content {
  overflow: hidden; /* clears float */
}
